In [1]:
# import library
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [3]:
data=pd.read_csv("Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# remove all unnecessary column
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
Label_Encoder_gender_new=LabelEncoder()
data['Gender']=Label_Encoder_gender_new.fit_transform(data['Gender'])

In [7]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [12]:
# one hot encoder 'Geography'
one_hotencoder_new=OneHotEncoder(handle_unknown='ignore')
geo_encoded=one_hotencoder_new.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=one_hotencoder_new.get_feature_names_out(['Geography']))

geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [13]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [15]:
data.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [16]:
# split data into input and output
x=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [21]:
#split the data in trainig and testing set
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

# scale this feature
scaler_regg=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.fit_transform(x_test)

In [23]:
# save alll models
# sanve the encoder and scalar
with open('label_encoder_gender_regg.pkl','wb') as file:
    pickle.dump(Label_Encoder_gender_new,file)

with open('oneHot_encoder_geo._regg.pkl','wb') as file:
    pickle.dump(one_hotencoder_new,file)

with open('scalar_new.pkl','wb') as file:
    pickle.dump(scaler_regg,file)

In [ ]:
## train ann with regression  statement

## train ANN with regression  statement

In [24]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [26]:
# build our model 

model=Sequential([
Dense(64,activation='relu', input_shape=(x_train.shape[1],)),
Dense(32,activation='relu'),
Dense(1)  # when we not specify any activaiont functon the activantin funcion in linerar regression


])

# compile the model

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary

In [27]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [30]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir_regression="regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d - %H%M%S")

tensorflow_callback=TensorBoard(log_dir=log_dir_regression,histogram_freq=1)

In [31]:
# set up Early Stoping
EarlyStopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [33]:
# train the model
history=model.fit(
    x_train,y_train,validation_data=(x_test,y_test),
    epochs=100,
    callbacks=[EarlyStopping_callback,tensorflow_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - loss: 100377.7656 - mae: 100377.7656 - val_loss: 98517.2422 - val_mae: 98517.2422
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99620.2500 - mae: 99620.2500 - val_loss: 96964.2656 - val_mae: 96964.2656
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 96855.3047 - mae: 96855.3047 - val_loss: 92865.0156 - val_mae: 92865.0156
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 91324.6875 - mae: 91324.6875 - val_loss: 85979.0469 - val_mae: 85979.0469
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 83312.3594 - mae: 83312.3594 - val_loss: 77182.1406 - val_mae: 77182.1406
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 73989.9141 - mae: 73989.9141 - val_loss: 68130.5703 - val_mae: 68130.5703
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 65100.5156 - mae: 65100.5156 - val_loss: 60481.0586 - val_mae: 60481.0586
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 58161.6211 - mae: 58161.6211 - val_loss: 55227.8008 - val_mae: 55227.8008
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53825.9375 - mae: 53825.9375 - val_loss: 52363.5742 - val_mae: 52363.5742
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51623.2539 - mae: 51623.2539 - val_loss: 51197.2852 - val_mae: 51197.2852
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50692.3320 - mae: 50692.3320 - val_loss: 50840.2617 - val_mae: 50840.2617
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50351.7656 - mae: 50351.7656 - val_loss: 50719.5898 - val_mae: 50719.5898
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50222.7109 - mae: 50222.7109 - val_loss: 50664.8594 - val_mae: 50664.8594
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50147.3125 - mae: 50147.3125 - val_loss: 50621.6211 - val_mae: 50621.6211
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50087.5391 - mae: 50087.5391 - val_loss: 50583.0000 - val_mae: 50583.0000
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50039.3867 - mae: 50039.3867 - val_loss: 50549.3633 - val_mae: 50549.3633
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49993.5508 - mae: 49993.5508 - val_loss: 50516.9453 - val_mae: 50516.9453
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49952.9844 - mae: 49952.9844 - val_loss: 50493.8047 - val_mae: 50493.8047
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49923.5195 - mae: 49923.5195 - val_loss: 50464.9062 - val_mae: 50464.9062
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49892.0586 - mae: 49892.0586 - val_loss: 50443.1680 - val_mae: 50443.1680
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49865.7891 - mae: 49865.7891 - val_loss: 50428.1641 - val_mae: 50428.1641
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49840.0273 - mae: 49840.0273 - val_loss: 50406.1992 - val_mae: 50406.1992
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49816.8516 - mae: 49816.8516 - val_loss: 50385.8086 - val_mae: 50385.8086
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49797.5742 - mae: 49797.5742 - val_loss: 50378.7852 - val_mae: 50378.7852
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49779.3516 - mae: 49779.3516 - val_loss: 50356.1797 - val_mae: 50356.1797
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49757.2422 - mae: 49757.2422 - val_loss: 50346.6992 - val_mae: 50346.6992
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49739.8789 - mae: 49739.8789 - val_loss: 50336.1211 - val_mae: 50336.1211
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49724.1133 - mae: 49724.1133 - val_loss: 50319.0977 - val_mae: 50319.0977
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49707.7969 - mae: 49707.7969 - val_loss: 50299.5039 - val_mae: 50299.5039
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49691.8594 - mae: 49691.8594 - val_loss: 50295.7969 - val_mae: 50295.7969
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49677.3555 - mae: 49677.3555 - val_loss: 50291.0078 - val_mae: 50291.0078
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49663.7734 - mae: 49663.7734 - val_loss: 50278.5195 - val_mae: 50278.5195
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49650.0430 - mae: 49650.0430 - val_loss: 50275.3359 - val_mae: 50275.3359
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49637.1289 - mae: 49637.1289 - val_loss: 50265.6445 - val_mae: 50265.6445
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49623.7109 - mae: 49623.7109 - val_loss: 50261.9336 - val_mae: 50261.9336
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49610.9258 - mae: 49610.9258 - val_loss: 50262.3164 - val_mae: 50262.3164
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49600.6875 - mae: 49600.6875 - val_loss: 50257.8828 - val_mae: 50257.8828
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49590.6133 - mae: 49590.6133 - val_loss: 50252.1289 - val_mae: 50252.1289
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49579.4023 - mae: 49579.4023 - val_loss: 50248.5195 - val_mae: 50248.5195
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49568.1406 - mae: 49568.1406 - val_loss: 50242.5273 - val_mae: 50242.5273
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49559.4766 - mae: 49559.4766 - val_loss: 50234.0742 - val_mae: 50234.0742
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49550.1836 - mae: 49550.1836 - val_loss: 50230.2578 - val_mae: 50230.2578
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49537.9219 - mae: 49537.9219 - val_loss: 50235.3867 - val_mae: 50235.3867
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49528.5469 - mae: 49528.5469 - val_loss: 50230.5664 - val_mae: 50230.5664
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49521.4531 - mae: 49521.4531 - val_loss: 50227.3906 - val_mae: 50227.3906
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49513.9375 - mae: 49513.9375 - val_loss: 50230.3750 - val_mae: 50230.3750
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49502.8516 - mae: 49502.8516 - val_loss: 50219.9414 - val_mae: 50219.9414
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49497.0195 - mae: 49497.0195 - val_loss: 50223.1250 - val_mae: 50223.1250
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49490.0273 - mae: 49490.0273 - val_loss: 50215.5703 - val_mae: 50215.5703
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49482.3555 - mae: 49482.3555 - val_loss: 50222.7148 - val_mae: 50222.7148
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49476.5664 - mae: 49476.5664 - val_loss: 50229.0312 - val_mae: 50229.0312
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49469.4570 - mae: 49469.4570 - val_loss: 50228.5039 - val_mae: 50228.5039
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49463.8125 - mae: 49463.8125 - val_loss: 50225.3789 - val_mae: 50225.3789
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49457.3555 - mae: 49457.3555 - val_loss: 50221.9688 - val_mae: 50221.9688

In [34]:
%load_ext tensorboard

In [39]:
%tensorboard --regressionlogs/fit

ERROR: Failed to launch TensorBoard (exited with 2).
Contents of stderr:
2025-10-16 16:31:04.494053: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-10-16 16:31:08.132260: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
usage: tensorboard [-h] [--helpfull] [--logdir PATH] [--logdir_spec PATH_SPEC]
                   [--host ADDR] [--bind_all] [--port PORT]
                   [--reuse_port BOOL] [--load_fast {false,auto,true}]
                   [--extra_data_server_flags EXTRA_DATA_SERVER_FLAGS]
                   [--grpc_creds_type {local,ssl,ssl_dev}]
                   [--grpc_data_provider PORT] [--purge_orphaned_data BOOL]
                   [--db URI] [--db_import] [--inspect] [--version_tb]
                   [--tag TAG] [--event_file PATH] [--path_prefix PATH]
                   [--window_title TEXT] [--max_reload_threads COUNT]
                   [--reload_interval SECONDS] [--reload_task TYPE]
                   [--reload_multifile BOOL]
                   [--reload_multifile_inactive_secs SECONDS]
                   [--generic_data TYPE]
                   [--samples_per_plugin SAMPLES_PER_PLUGIN]
                   [--detect_file_replacement BOOL]
                   {serve} ...
tensorboard: error: unrecognized arguments: --regressionlogs/fit

In [41]:
# evaluate the mae'
test_losss,test_mae=model.evaluate(x_test,y_test)
print(f"Test MAE {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50215.5703 - mae: 50215.5703
Test MAE 50215.5703125

In [42]:
model.save('regression_mode.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.